
html, body{
    background-color: #FFFFFF;
    margin: 0;        
    font-family: 'Roboto';
}
header{    
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav{
    padding-right: 15px;
}
li{
    display: inline-block;
    
    
}
li a {
    color: rgba(0,0,0,.87);
    text-decoration: none;    
    padding-right: 15px;
    font-size: 13px;

}
li a:hover{
    text-decoration: underline;
}
.iconos a {
    text-decoration: none;
}
.iconos img{
    width: 24px;
    height: 24px;
    padding: 10px;
}
.foto{
    border-radius: 50%;
}
.iconos a img:hover{
    background-color: rgba(60,64,67,.12);
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
#logo, .buscador, .botones {
    display: flex;
    justify-content: center;
}
.contenedor{
    display: flex;
    padding: 5px 8px 0 14px;
    justify-content: space-between;
    align-items: center;

    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;    
    max-width: 584px;
}
.imgbusqueda{
   margin-bottom: 4px;
}
#txtbuscador{
    line-height: 22px;
    font-family: arial,sans-serif;
    overflow: hidden;
    margin-top: 10px;
    resize: none;
    background-color: transparent;
    border: none;
    margin-bottom: 8px;
    color: rgba(0,0,0,.87);
    width: 443px;
    min-height: 27px;
    font-size: 16px;
}
textarea:focus {
    outline: none; 
  }
  .formasBusqueda img{
    cursor: pointer;
  }
  .contenedor:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); /* Sombreado gris */
  }
  .botones{
    padding-top: 18px;
    height: 70px;
  }
  .btn-search{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  input[type="submit"]:focus {
    border: 1px solid #4285f4;
    outline: none;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
footer{
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.mexico{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #202124;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.footer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pHiOh, a.pHiOh {
    color: #202124;
}
.pHiOh {
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}
.footer div a:hover, .footer div a:active {
    text-decoration: underline;
}
